@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  overflow: hidden;
}

#white-glassmorphism {
  background: rgba(255, 255, 255, 0.097);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.sourcebtn {
  background: rgba(255, 255, 255, 0.133);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.home::before,
.home::after,
.skill::before,
.skill::after,
.project::before,
.project::after,
.contact::before,
.contact::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: rgb(39, 154, 241);
  background: linear-gradient(
    315deg,
    rgba(39, 154, 241, 1) 18%,
    rgba(34, 39, 153, 1) 85%
  );
  box-shadow: 10px 10px 38px -1px rgba(0, 0, 0, 0.14);
  z-index: -10;
  /* animation: snow 3700ms infinite alternate ease-in-out; */
}
.home::after,
.skill::after,
.project::after,
.contact::after {
  animation: move_after 5000ms infinite alternate ease-in-out;
}
.home::before,
.skill::before,
.project::before,
.contact::before {
  animation: move_before 3700ms infinite alternate ease-in-out;
}
.skill::after,
.skill::before {
  background: rgb(239, 35, 60);
  background: linear-gradient(
    315deg,
    rgba(239, 35, 60, 1) 18%,
    rgba(153, 34, 79, 1) 85%
  );
}
.project::after,
.project::before {
  background: rgb(6, 214, 160);
  background: linear-gradient(
    315deg,
    rgba(6, 214, 160, 1) 18%,
    rgba(34, 153, 131, 1) 85%
  );
}
.contact::after,
.contact::before {
  background: rgb(255, 159, 28);
  background: linear-gradient(
    315deg,
    rgba(255, 159, 28, 1) 18%,
    rgba(217, 181, 35, 1) 85%
  );
}

.home::after,
.skill::after,
.project::after,
.contact::after {
  top: 15px;
  left: 30px;
  /* animation: move 3000ms infinite ease-in-out; */
}
.skill::before {
  bottom: 100px;
  right: 300px;
}
.home::before,
.project::before {
  bottom: 40px;
  right: 70px;
  width: 150px;
  height: 150px;
}
.contact::before {
  bottom: -50px;
  left: 500px;
}
.backg::after + .backg::before {
  bottom: 80px;
  right: 100px;
}

@keyframes move_after {
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-0.1em, 15vmin);
  }
}
@keyframes move_before {
  50% {
    opacity: 1;
  }
  70% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(13px);
  }
}
